# **Predictive Modeling for Rocket Landing Success**  
### *A Machine Learning Approach Using SpaceX Falcon 9 Data*

In [32]:
# Preprocessing allows us to standarsize our data
from sklearn import preprocessing 

# Allows us to split our data into training and testing data
from sklearn.model_selection import train_test_split

# Allows us to test parameters of classification algorihtms and find the best one
from sklearn.model_selection import GridSearchCV

# Logistic regression classfication  algorithm
from sklearn.linear_model import LogisticRegression

# Support Vector Machine Classification algorithm
from  sklearn.svm import SVC 

# Desicion Tree Classification algorithm 
from sklearn.tree import DecisionTreeClassifier

# K Nearest Neighbors classification algorithm
from sklearn.neighbors import KNeighborsClassifier

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [33]:
# This provided function is to plot the confusion matrix
def plot_confusion_matrix(y, y_predict):
    """This function plots the confusion matrix"""
    from sklearn.metrics import confusion_matrix

    cm = confusion_matrix(y, y_predict)
    ax = plt.subplot()
    sns.heatmap(cm,annot = True, ax = ax); #annot = True to annotate cells
    ax.set_xlabel('Predicted labels')
    ax.set_ylabel('True labels')
    ax.set_title('Confusion Matrix');
    ax.xaxis.set_ticklabels(['did not land', 'land']); ax.yaxis.set_ticklabels(['did not land', 'landed'])

In [34]:
data = pd.read_csv(r'C:\Users\cjchavarria\Desktop\Rocket-Landing-Success-ML\03-eda_and_feature_engineering\dataset_features_ML.csv')

In [35]:
data.head()

,Unnamed: 0,Class,FlightNumber,PayloadMass,Flights,ReusedCount,Orbit_ES-L1,Orbit_GEO,Orbit_GTO,Orbit_HEO,...,Serial_B1048,Serial_B1049,Serial_B1050,Serial_B1051,Serial_B1054,Serial_B1056,Serial_B1058,Serial_B1059,Serial_B1060,Serial_B1062
0,0,0,1,6123,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,2,525,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,3,677,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,4,500,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,5,3170,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
X = data.drop(columns=[col for col in data.columns if col.startswith('Unnamed:')])
X.head(3)

,Class,FlightNumber,PayloadMass,Flights,ReusedCount,Orbit_ES-L1,Orbit_GEO,Orbit_GTO,Orbit_HEO,Orbit_ISS,...,Serial_B1048,Serial_B1049,Serial_B1050,Serial_B1051,Serial_B1054,Serial_B1056,Serial_B1058,Serial_B1059,Serial_B1060,Serial_B1062
0,0,1,6123,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,2,525,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,3,677,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [39]:
Y = data[['Class']]

In [42]:
Y.head()

   Class
0      0
1      0
2      0
3      0
4      0